[LND]
# connect an LND node using an admin macaroon for full autopilot
#   if connecting a remote lnd, you may need to add extratls=<IP_OF_LND>
#   to lnd.conf
grpc_host = 
tls_cert_path = 
macaroon_path =

[KRAKEN]
# create a kraken API key with funding permissions
#   add a widthdrawl address to your account and name 
#   it `widthdraw_key` 
api_key = 
api_secret =
widthdraw_key =

[NICEHASH]
# create a nicehash API key with wallet permissions
#   add a whitelisted widthdrawl address and use the API to find the withdrawlAddressId
#   use https://www.nicehash.com/docs/rest/get-main-api-v2-accounting-withdrawalAddresses
#   with your API keys witdhdraw_key should look like xxxxxxxx-xxxx-xxxx-xxxxx-xxxxxxxxxxxx
api_key = 
api_secret =
org_id = 
witdhdraw_key = 

[TELEGRAM]
# send yourself a telegram updates about your node using a bot
#   1. visit https://telegram.me/BotFather to begin chatting with the BotFather 
#   2. /start and /newbot to create your bot, copy the api_token
#   3. /start a chat with the bot and send the bot a plaintext message
#   4. use this tool: https://codesandbox.io/s/get-telegram-chat-id-q3qkk
#       to get the chat_id 
api_token =
chat_id = 

[MEMPOOL]
# use a mempool.space block explorer for mempool fee estimation
#    use https://mempool.space/api/v1/ or your own instance 
api_url = 
