[DEFAULT]
node = LND

[HTLC_STREAM_LOGGER]
# Listen for payment attempts attempting routes into your node
#    detect probes, get notified for successful routing events
#    log events in csv_file
execute = 1
log_to_console = 1
notify_events = forwards
csv_file = csv/htlcstream.csv

[TELEGRAM_ACTIONS]
execute = 1
daily_report = 1
daily_report_hour = 17
daily_report_min = 0
actions = invoice report

[MEMPOOL_NOTIFY]
execute = 1
mempool_empty_mb = 3
mempool_delta_mb = 10

[FUNDING_NOTIFY]
execute = 0
onchain_deposit = 1
onchain_send = 1
channel_open_broadcast = 1
channel_open_confirmed = 1
channel_open_active = 1
channel_close_broadcast = 1
channel_close_confirmed = 1
ln_payment_sent = 1
ln_invoice_paid = 1
