[DEFAULT]
node = LND

[HTLC_STREAM_LOGGER]
# Listen for payment attempts attempting routes into your node
#    detect probes, get notified for successful routing events
#    log events in csv_file
execute = 1
log_to_console = 1
notify_events = forwards
csv_file = csv/htlcstream.csv

[TELEGRAM_ACTIONS]
execute = 1
daily_report = 0 # reports are broken 
daily_report_hour = 17
daily_report_min = 0
actions = invoice report

[MEMPOOL_NOTIFY]
execute = 0
# get a notice when the mempool clears
on_mempool_empty = 1
# the number of mb in memppol to consider "cleared"
mempool_empty_mb = 3

# get a notice when the mempool size grows or shirks
on_mempool_change = 1
# the number of mb change (delta) since last notification was sent
mempool_delta_mb = 10

# get a notice when a channel opening transaction confirms
on_channel_confirmed = 1

[FUNDING_NOTIFY]
execute = 0
onchain_deposit = 1
onchain_send = 1
channel_open_broadcast = 1
channel_open_confirmed = 1
channel_open_active = 1
channel_close_broadcast = 1
channel_close_confirmed = 1
ln_payment_sent = 1
ln_invoice_paid = 1
